/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #be3144;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 0px;
}

nav ul li a:hover {
    color: #45567d;
    text-decoration: none;
    margin-right: 0px;
}

section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.profile-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.college-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 60%;
}

.portfolio-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.portfolio-items a{
    text-decoration: none;
    color: #303841;
}

footer {
    background-color: #303841;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
